* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #dbe4e7;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.blocos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.esquerda {}

.direita {}

.sobre {
    padding: 40px;
    background: #fff;
    margin-bottom: 40px;
}

.sobre h1 {
    color: #495460;
}

.sobre p {
    margin-top: 20px;
    text-align: justify;
    line-height: 20px;
}

.links {
    padding: 40px;
    background: #FFF;
    margin-bottom: 40px;
}

.icone {
    width: 20px;
    height: 20px;
}

.icone img {
    width: 15px;
    height: 15px;
}

.links .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.links .item .link {
    color: #6e6e6e;
    margin-left: 10px;
}

.links .item .link a {
    color: #3ea558;
    text-decoration: none;
}

.habilidades {
    padding: 40px;
    background: #fff;
}

.habilidades h1 {
    color: #495460;
}

.habilidades p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 22px;
}

.habilidades .item {
    margin-bottom: 20px;
}

.habilidades .item .titulo {
    font-size: 20px;
    color: #495460;
}

.habilidades .item .porcentagem {
    margin-top: 10px;
    height: 20px;
    background: #65cc8d;
}

.porcentagem100 {
    width: 100%;
}

.porcentagem50 {
    width: 50%;
}

.porcentagem25 {
    width: 25%;
}

.conteudo {
    padding: 40px;
    background: #fff;
    margin-bottom: 40px;
}

.conteudo h1 {
    color: #495460;
    margin-bottom: 40px;
}

.conteudo .titulo {
    color: #97a2ac;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.conteudo .descricao {
    color: #97a2ac;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
}

.conteudo img {
    width: 100%;
}

.header {
    background: #f6f6f6
}

.foto {
    width: 150px;
    height: 150px;
}

.header .container {
    display: grid;
    grid-template-columns: 0fr 1fr;
    align-items: center;
    padding: 20px 0px;
}

.informacoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.caixa-dados .titulo {
    font-weight: bold;
    color: #454e58;
    font-size: 28px;
}

.caixa-dados .descricao {
    font-size: 18px;
    color: #919ca7;
}

.caixa-dados .redes-sociais {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.foto img {
    width: 100%;
    height: 150px;
    border-radius: 75px;
}

.caixa-botao button {
    background: #53ba4d;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
}

.caixa-botao button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.rede-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #b2b9c0;
    margin-right: 10px;
}

.redes-sociais .rede-social img {
    width: 15px;
    height: 15px;
}

.linkedin:hover {
    background: #0076b5;
}

.instagram:hover {
    background: #c52f7e;
}

.whatsapp:hover {
    background: #28ce64;
}